@using DatAccess.Models
@model List<MessageChat>
@Html.AntiForgeryToken()
@{

    var receiverId = ViewBag.receiverId as string;
}
<div class="chat-container" >
    <div class="chat-header">ارتباط با پشتیبانی</div>
    <div class="chat-message">
        @foreach(var msg in Model)
        {
            var messageClass = msg.SenderId == "admin" ? "recived" : "sent" ;
            <div class="message1 @messageClass">
                <strong>@msg.SenderId:</strong>@msg.Message<small>@msg.Timestamp.ToShortTimeString()</small>
                @if (msg.SenderId != receiverId)
                {
                  
                    <form asp-action="DeleteMessage" method="post" style="display:inline">
                        <input type="hidden" name="id" value="@msg.Id" />
                        <button type="submit">Deleted</button>
                    </form>

                    <button type="button" onclick="showEditBoxx(@msg.Id)">Edit</button>
                    <div id="edit-box-@msg.Id" style="display:none;margin-top:5px;">
                        <form asp-controller="Chat" asp-action="Edit" method="post">
                            <input type="hidden" name="id" value="@msg.Id" />
                            <input type="text" name="newMessage" value="@msg.Message" />
                           
                            <button type="submit">SetEdit</button>
                        </form> 
                        </div>
                     
                }
            </div>


 
           
    }
    </div>
    <form class="chat-form" asp-action="Send"method="post">
        <input type="hidden" name="receiverId" value="@receiverId" />
        <textarea name="message" rows="2" placeholder=".....Please Write Your Text"></textarea>
<button type="submit">Send</button>
    </form>
</div>


<script src="~/js/EditChatMessage.js"></script>


